h1{
    color: yellow;
    margin-bottom: 50px;
    text-align: center;

}
p{
    color: red;
    font-size: xx-large;
}
.ImgTwo{
    margin-top: 20px;
    margin-left: 510px;
    width: 30%;
    height: 500px;
}
