.Img{
    width: 100px;
    height: 100px;
}

.MovieD{
    margin-top: 35px;
    text-align: center;
}
.MovieD:hover{
    background-color: darkblue;

}
h1{
    text-align: center;
    
}










